html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 40px;
  text-align: center;
}

section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 10vw;
}

.navbar {
  height: 160px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.try-it {
  border-radius: 40px;
  border: 1px solid #FF52C1;
  color: #FF52C1;
}

.main-p {
  margin-top: 50px;
  padding-left: 15vw;
  padding-right: 15vw;
}

.get-started {
  background-color: #FF52C1;
  border-radius: 40px;
  font-weight: bold;
  width: 40vw;
  height: 80px;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 125px;
}

.grow-together {
  background-color: #F6FBFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.grow-together p {
  padding-right: 100px;
}

.flowing-conversation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flowing-conversation h2 {
  padding-left: 100px;
}

.flowing-conversation p {
  padding-left: 100px;
}

.users {
  background-color: #F6FBFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.users h2 {
  padding-right: 100px;
}

.users p {
  padding-right: 100px;
}

.filter-white {
  -webkit-filter: invert(100%) sepia(0%) saturate(500%) hue-rotate(245deg) brightness(111%) contrast(103%);
          filter: invert(100%) sepia(0%) saturate(500%) hue-rotate(245deg) brightness(111%) contrast(103%);
}

.footer {
  height: 50vh;
  background-color: #00252E;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10vw;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-btn {
  background-color: #FF52C1;
  color: white;
  height: 40px;
  margin-left: 20px;
}

.footer input {
  height: 40px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.social p {
  margin-left: 10px;
}

.social img {
  padding-bottom: 10px;
}

.newsletter {
  padding-left: 100px;
}

.company {
  padding-right: 100px;
}

.spacer {
  height: 30vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.layer1 {
  background-image: url(../images/bg-section-top-desktop-1.svg);
  height: 250px;
  width: 100%;
}

.layer1-mobile {
  background-image: url(../images/bg-section-top-mobile-1.svg);
  height: 250px;
  display: none;
}

.layer2 {
  background-image: url(../images/bg-section-bottom-desktop-1.svg);
  height: 139px;
}

.layer2-mobile {
  background-image: url(../images/bg-section-bottom-mobile-1.svg);
  height: 139px;
  display: none;
}

.layer3 {
  background-image: url(../images/bg-section-top-desktop-2.svg);
  height: 200px;
}

.layer3-mobile {
  background-image: url(../images/bg-section-top-mobile-2.svg);
  display: none;
}

.layer4 {
  background-image: url(../images/bg-section-bottom-desktop-2.svg);
  height: 139px;
}

.layer4-mobile {
  background-image: url(../images/bg-section-bottom-mobile-2.svg);
  display: none;
}

.layer5 {
  background-image: url(../images/bg-footer-top-desktop.svg);
  height: 220px;
}

.layer5-mobile {
  background-image: url(../images/bg-footer-top-mobile.svg);
  height: 220px;
  display: none;
}

@media only screen and (max-width: 826px) {
  .grow-together {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
    padding: 0;
  }
  .grow-together img {
    margin-bottom: 50px;
  }
  .grow-together p {
    padding: 0;
  }
  .flowing-conversation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
    text-align: center;
    padding: 0;
  }
  .flowing-conversation img {
    margin-bottom: 50px;
  }
  .flowing-conversation h2,
  .flowing-conversation p {
    padding: 0;
  }
  .users {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
  .users img {
    margin-bottom: 50px;
  }
  .users h2,
  .users p {
    padding: 0;
  }
  .layer1-mobile,
  .layer2-mobile,
  .layer3-mobile,
  .layer4-mobile,
  .layer5-mobile {
    display: block;
  }
  .layer1,
  .layer2,
  .layer3,
  .layer4,
  .layer5 {
    display: none;
  }
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info-spacer {
    margin-bottom: 100px;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
    padding-right: 0;
  }
  .newsletter {
    padding: 0;
    margin-bottom: 30px;
  }
  .company {
    padding: 0;
  }
  .input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-btn {
    margin-top: 10px;
    width: 110px;
  }
}

@media only screen and (max-width: 520px) {
  .navbar-brand img {
    width: 160px;
  }
  .navbar-brand button {
    width: 100px;
  }
  .main-p,
  .users {
    padding-left: 0;
    padding-right: 0;
  }
  .get-started {
    width: 60vw;
    height: 50px;
  }
}
/*# sourceMappingURL=styles.css.map */